<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="updateList()"
        >   
        Filter       
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">    

    <h4>Cities </h4>


    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>

        </tr>
      </thead>
      <tbody>
        <tr 
            *ngFor="
            let city of response.content | paginate : {
                  itemsPerPage: size,
                  currentPage: page,
                  totalItems: response.totalElements
                };">
          <td>{{ city.id }}</td>
          <td>{{ city.name }}</td>
        </tr>
      </tbody>
    </table>
       
    <div class="float-right d-inline-block">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)">
        </pagination-controls>
    </div>
    <div class="float-right mr-3 d-inline-block">    
      Items per Page:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>  

  
</div>
